$colores:(
   btn1: #ff8b07,
   btn2: #202020,
   btn3: #ffc507,
);

@each $boton, $color in $colores{
    .#{$boton}{
        color: white;
        border: 2px solid #{$color};
        background:  #{$color};
        transition: 0.5s;
        &:hover{
            @extend .#{$boton};
            filter: brightness(80%);
        }
    }
};