.btn1{
    color: white;
    border: 2px solid #ff8b07;
    background:  #ff8b07;
    transition: background-position 1s;
}

.btn1:hover{
    color: white;
    border: 2px solid #ce740e;
    background:  #ce740e;
    transition: background-position 1s;
}