html, body {
  height: 100%;
  width: 100%; }

body {
  position: relative; }

table {
  position: relative; }

/*-------------------------Fondo Inicio---------------------------*/
.fondo-blur {
  margin: 0;
  background-image: url(https://cdn.pixabay.com/photo/2016/08/04/17/51/holiday-1569608_1280.jpg);
  height: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .fondo-blur:before {
    content: '';
    width: 100%;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #52c4df, #ad55c1);
    opacity: 0.5; }

.titulo-blanco {
  color: #e0e0e0;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.8); }

.texto-blanco {
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  font-weight: 600; }

/*------------------------------Precios-----------------------------*/
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 0;
  padding: 0.7rem; }

#galeria img {
  height: 250px;
  width: 100%; }

.contenedor {
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  .contenedor p {
    font-size: 2rem;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -120%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }
  .contenedor:hover {
    transform: scale(1.1); }

footer {
  position: relative; }
  footer nav {
    margin: 0 auto; }

header {
  position: relative; }
  header nav {
    margin: 0 auto; }

.btn1, .btn1:hover {
  color: white;
  border: 2px solid #ff8b07;
  background: #ff8b07;
  transition: 0.5s; }
  .btn1:hover {
    filter: brightness(80%); }

.btn2, .btn2:hover {
  color: white;
  border: 2px solid #202020;
  background: #202020;
  transition: 0.5s; }
  .btn2:hover {
    filter: brightness(80%); }

.btn3, .btn3:hover {
  color: white;
  border: 2px solid #ffc507;
  background: #ffc507;
  transition: 0.5s; }
  .btn3:hover {
    filter: brightness(80%); }
